.active { color: red; font-weight: bold; }
.login_title {
    text-align: center;
}
.register_btn {
    float: right;
    margin: 20px 0;
}
.register_form {
    width: 50%;
    margin: 0 auto;
}
.submit_btn {
	text-align: center;
}